@import "tailwindcss";

@theme {
  --color-primary: #0F9D58;
  --color-accent: #00C853;
  --color-neutral: #333333;
  --font-sans: 'Inter', 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: white;
    color: #262626;
  }
}